@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color-coffee: #6F4E37;
}

.heading {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 5px 2px;
    color: var(--text-color-coffee);
}

.text-center {
    text-align: center;
}

.container {
    /* border: 2px solid red; */
    max-width: 1024px;
    margin: 20px auto;
    /* height: 100vh; */
}




/*  hero section start */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero-title .hero-text {
    font-size: 35px;
    font-weight: 700;
    color: var(--text-color-coffee);
}

.text-family {
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
}

.btn {
    padding: 10px 15px;
    margin: 10px 0;
    background-image: linear-gradient(to right, green, var(--text-color-coffee));
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-image: linear-gradient(to right, var(--text-color-coffee), green)
}

.hero-title-additional-info {
    font-size: 16px;
    color: rgb(160, 150, 150);
    margin: 15px 0;
}

.hero-image {
    max-width: 350px;
    max-height: 350px;
    /* border: 2px solid green; */
}

.hero-image .img {
    width: 100%;
    height: 100%;
}

.hero-image {
    position: relative;
}

.adda {
    position: absolute;
    top: 75%;
    left: 58%;
    background-color: var(--text-color-coffee);
    color: aqua;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
}

.hero-featured-1,
.hero-featured-2,
.hero-featured-3 {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin: 10px 0px;
    padding: 5px 2px;
}

.hero-featured-img {
    border: 2px solid var(--text-color-coffee);
    border-radius: 15px;
}

.hero-featured-text {
    margin-left: 7px;
    font-weight: 600;
    color: rgb(160, 150, 150);
}

/* hero section end */





/* featured product section start */
.feature-product {
    margin-top: 50px;
}

.box {
    margin-top: 150px;
    background: #FFE4D3;
    /* border: 2px solid blue; */
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;

    min-height: 300px;

}

.feature-image-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.feature-image {
    margin-top: -75px;
    border-radius: 15px;
}

.feature-image-card {
    /* border: 2px solid blue; */
    position: relative;
}

.feature-image-text {
    position: absolute;
    bottom: -3%;
    right: 22%;
    color: aqua;
    background: var(--text-color-coffee);
    padding: 5px 3px;
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}


/* featured product section end */






/* coffee masonry start  */
.coffee-masonry {
    padding-top: 100px;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.coffee-masonry-gallary {
    display: flex;
    flex-basis: 50%;
}

.coffee-masonry-gallary-box {
    columns: 2;
}

.coffee-masonry-gallary-box img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.coffee-masonry-description {
    display: flex;
    flex-basis: 50%;
}

.coffee-masonry-box {
    padding: 5px 5px;
}

.masonry-offer-text {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-color-coffee);
}

.unique-taste {
    padding: 30px 0;
}

.unique-taste .unique-text {
    font-size: 18px;
    font-weight: 700;
}

.premium-quality {
    padding: 30px 0;
}

.premium-quality .premium-text {
    font-size: 18px;
    font-weight: 700;
}

/* coffee masonry end  */



/* coffee feedback start  */
.coffee-feedback {
    margin-top: 100px;
    width: 100%;
    min-height: 500px;
    background-image: linear-gradient(to right, orange, #FFE4D3);
    border-radius: 30px;

    display: flex;
}

.feedback-description {
    flex-basis: 40%;
    /* border: 2px solid blue; */
}

.feedback-card-box {
    flex-basis: 60%;

    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
}


.feedback-description {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 60px;
    /* border: 2px solid green; */
}

.feedback-title {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.feedback-paragraph {
    color: white;
    margin: 15px 0;
}

.single-card-item {
    max-width: 350px;
    background: white;
    color: rgb(160, 150, 150);
    padding: 30px;
    margin: 30px 5px;
    border-radius: 20px;
    position: relative;
}

.feedback-img {
    position: absolute;
    top: -7%;
    left: -7%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.feedback-name {
    margin-top: 5px;
    color: black;
}
.feedback-occupation {
    font-size: 12px;
}

.opacity {
    opacity: 0.3;
}

.single-card-box {
    position: relative;
    /* border: 2px solid green; */
    margin-left: 30px;
}


.single-card-item-modified {
    position: absolute;
    top: 25%;
    left: -10%;
}

/* coffee feedback end  */







@media (max-width: 768px) {
    .hero-section {
        display: flex;
        flex-direction: column;
    }

    .box {

        background: #FFE4D3;
        /* border: 2px solid green; */
    }

    .feature-image-div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .feature-image {
        margin-top: 0;
    }



    /* coffee masonry */
    .coffee-masonry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .coffee-masonry-gallary {
        display: flex;
        order: 2;
    }

    .coffee-masonry-description {
        display: flex;
        order: 1;
    }

    .coffee-masonry-gallary-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }



    /* coffee feedback start */
    .coffee-feedback {
        display: flex;
        flex-direction: column;
    }

    .feedback-description-box {
        margin-top: 20px;
        max-width: 350px;
    }

    .feedback-card-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .feedback-img {
        position: absolute;
        top: -8%;
        left: -2%;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    /* coffee feedback end */




}